$clr-primary: #004799;
$clr-primary-dark: #005fcc;
$clr-accent-dark-blue: #001833;
$clr-accent-medium-blue: #063852;
$clr-secondary: #271f0c;
$clr-cyan: #00adb3;
$clr-yellow: #c89e45;
$clr-light-yellow: #d0ad62;
$clr-grey: #687588;
$clr-darker-grey: #323b49;
$clr-very-dark-grey: #111827;
$clr-light-white: #f1f2f4;

$bp-xs: 425px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$font-base: 'AA Stetica';
