$p-section: 3rem;

$clr-primary: #004799;
$clr-primary-dark: #005fcc;
$clr-accent-dark-blue: #001833;
$clr-accent-medium-blue: #063852;
$clr-secondary: #271f0c;
$clr-cyan: #00adb3;
$clr-yellow: #c8a045;

$bp-xs: 320px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

$font-base: 'AA Stetica';
$font-alt: 'Roboto';
